body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #ff6347;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

main {
  padding: 1rem;
}

#home-section {
  text-align: center;
}

#shop-now-btn {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#home{
   color: black;
}
#big{
  color: black;
}

#featured-products {
  margin-top: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.product-card {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card button {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

footer {
  background-color: #ff6347;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.footer-section {
  max-width: 300px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 1rem;
}
.hero {
  background-image: url('https://img.freepik.com/free-photo/top-view-fruit-vegetables-reusable-bags_23-2148493507.jpg?t=st=1716184144~exp=1716187744~hmac=a244c57be16b74862d05db17a0050ae3daab13d255b628680e238b219663855a&w=1060');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #45a049;
}